* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.hearder {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.Menu {
    background: #1C2B2D;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo {
    background: #F08A5D;
    flex: 1 1 auto;
    height: 30px;
}

.nav {
    background: #F08A5D;
    flex: 5 1 auto;
    height: 30px;
}

.social {
    background: #F08A5D;
    flex: 1 1 auto;
    height: 30px;
}

.texto-principal {
    background: #B83B5E;
}

h1 {
    background: #6A2C70;
}

.section {
    background: #000;
}

.articulo {
    background: #867AE9;
}

.article {
    background: #FFF5AB;
}

.navegacion {
    background: #FFCEAD;
}

.aside {
    background: #FC9D9D;
}

.publicidad {
    background: #900C3F;
}

.footer {
    background: #000;
}

.pie {
    background: #CCAFAF;
}