* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    background: #000;
}

.menu {
    background: #2F5D62;
}

.logo {
    background: #5E8B7E;
}

.nav {
    background: #5E8B7E;
}

.social {
    background: #5E8B7E;
}

.section {
    background: #000;
}

.footer {
    background: #000;
}