* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.hearder {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.Menu {
    background: #1C2B2D;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo {
    background: #F08A5D;
    flex: 1 1 auto;
    height: 30px;
}

.nav {
    background: #F08A5D;
    flex: 5 1 auto;
    height: 30px;
}

.social {
    background: #F08A5D;
    flex: 1 1 auto;
    height: 30px;
}

.texto-principal {
    background: #B83B5E;
}

h1 {
    background: #6A2C70;
}

.section {
    background: #000;
    display: flex;
}

.articulo {
    background: #867AE9;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #FFF5AB;
    flex: 1 1 40%;
}

.navegacion {
    background: #eb6105;
    flex: 1 1 100%;
}

.aside {
    background: #830505;
    flex: 1 1 auto;
}

.publicidad {
    background: #0c2f90;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background: #CCAFAF;
    width: 300px;
}

@media all and (max-width:800px) {
    .section {
        flex-direction: column;
    }
    .Menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .articulo {
        flex-direction: column;
    }
}

@media all and (max-width:400px) {
    .aside {
        flex-direction: column;
    }
}