* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    height: 500px;
    background: #ff5c29;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: space-around;*/
}

.hijo {
    background: #00b285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    /*flex-grow: 1;
    flex-shrink: o;restringo ancho */
    flex: 1 1 auto;
}

.otro {
    align-self: stretch;
    height: auto;
}